### Test notebook for connecting to AWS buckets and designing tables/ETL

In [1]:
import configparser
import psycopg2
import pandas as pd
import boto3
import json
import time

### Check datawarehouse config file

In [2]:
!cat song_dwh.cfg

[AWS]
key = AKIARMKLSTNC3GBQLM6A
secret = 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

[DWH]
dwh_region = us-west-2
dwh_cluster_type = multi-node
dwh_num_nodes = 2
dwh_node_type = dc2.large
dwh_iam_role_name = dwhuser
dwh_cluster_identifier = songCluster
dwh_db = songdwh
dwh_db_user = dwhuser
dwh_db_password = Passw0rd
dwh_port = 5439

[ARN]
arn =

[S3]
log_data = 's3://udacity-dend/log_data'
log_jsonpath = 's3://udacity-dend/log_json_path.json'
song_data = 's3://udacity-dend/song_data'

In [6]:
#Get credentials
config = configparser.ConfigParser()
config.read('song_dwh.cfg')

KEY = config.get('AWS', 'key')
SECRET = config.get('AWS', 'secret')
ARN = config.get("ARN", "arn")

DWH_REGION = config.get("DWH", "dwh_region")
DWH_CLUSTER_TYPE = config.get("DWH", "dwh_cluster_type")
DWH_NUM_NODES = config.get("DWH","dwh_num_nodes")
DWH_NODE_TYPE = config.get("DWH","dwh_node_type")
DWH_IAM_ROLE_NAME = config.get("DWH", "dwh_iam_role_name")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","dwh_cluster_identifier")
DWH_DB = config.get("DWH","dwh_db")
DWH_DB_USER = config.get("DWH","dwh_db_user")
DWH_DB_PASSWORD = config.get("DWH","dwh_db_password")
DWH_PORT = config.get("DWH","dwh_port")
DWH_ENDPOINT = config.get("DWH","dwh_endpoint")

LOG_DATA = config.get('S3','log_data')
SONG_DATA = config.get('S3', 'song_data')

In [4]:
s3 = boto3.resource('s3', aws_access_key_id=KEY,
                          aws_secret_access_key=SECRET,
                          region_name="us-west-2")

In [27]:
#Download sample files
sampleDbBucket =  s3.Bucket("udacity-dend")
for obj in sampleDbBucket.objects.filter(Prefix="log-data/2018/11/2018-11-02-events.json"):
    print(obj)
sampleDbBucket.download_file("log-data/2018/11/2018-11-02-events.json", "2018-11-02-events.json")
#sampleDbBucket.download_file("song-data/A/A/A/TRAAAAK128F9318786.json", "TRAAAAK128F9318786.json")
#sampleDbBucket.download_file("log_json_path.json", "log_json_path.json")

s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-02-events.json')

In [44]:
# Check sample log file
with open("samples/2018-11-02-events.json", "r") as f:    
    data = f.readlines()


d = json.loads(data[0])
print(list(d.keys()))
#print(d)
#df = pd.DataFrame(data[0], cols=list(data[0].keys()))
df = pd.DataFrame(d, columns=list(d.keys()), index=[0])
df.head()
#df.head()

['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName', 'length', 'level', 'location', 'method', 'page', 'registration', 'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId']

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,N.E.R.D. FEATURING MALICE,Logged In,Jayden,M,0,Fox,288.9922,free,"New Orleans-Metairie, LA",PUT,NextSong,1.541034e+12,184,Am I High (Feat. Malice),200,1541121934796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",101

In [45]:
# Check sample song file
with open("samples/TRAAAAK128F9318786.json", "r") as f:    
    data = json.load(f)

cols = list(data.keys())
print(cols)
df = pd.DataFrame(data, columns=cols, index=[0])

df.head()

['song_id', 'num_songs', 'title', 'artist_name', 'artist_latitude', 'year', 'duration', 'artist_id', 'artist_longitude', 'artist_location']

,song_id,num_songs,title,artist_name,artist_latitude,year,duration,artist_id,artist_longitude,artist_location
0,SOBLFFE12AF72AA5BA,1,Scream,Adelitas Way,NaN,2009,213.9424,ARJNIUY12298900C91,NaN,

In [32]:
def create_dwhuser():
    # Create iam client
    iam = boto3.client('iam',aws_access_key_id=KEY,
                         aws_secret_access_key=SECRET,
                         region_name=DWH_REGION)

    try:
        roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']
    except Exception as e:

        try:
            dwhRole = iam.create_role(
                Path='/',
                RoleName=DWH_IAM_ROLE_NAME,
                Description = "Allows Redshift clusters to call AWS services on your behalf.",
                AssumeRolePolicyDocument=json.dumps(
                    {'Statement': [{'Action': 'sts:AssumeRole',
                       'Effect': 'Allow',
                       'Principal': {'Service': 'redshift.amazonaws.com'}}],
                     'Version': '2012-10-17'})
            )    
        except Exception as e:
            print(e)

        iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                               PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                              )['ResponseMetadata']['HTTPStatusCode']

In [33]:
create_dwhuser()

In [34]:
def getroleArn():
    iam = boto3.client('iam',aws_access_key_id=KEY,
                         aws_secret_access_key=SECRET,
                         region_name=DWH_REGION)
    
    return iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

In [35]:
getroleArn()

'arn:aws:iam::095184657221:role/dwhuser'

In [36]:
def create_redshift_cluster():
    
    redshift = boto3.client('redshift',
                       region_name=DWH_REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )
    
    roleArn = getroleArn()
    
    try:
        response = redshift.create_cluster(        
            #HW
            ClusterType=DWH_CLUSTER_TYPE,
            NodeType=DWH_NODE_TYPE,
            NumberOfNodes=int(DWH_NUM_NODES),

            #Identifiers & Credentials
            DBName=DWH_DB,
            ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
            MasterUsername=DWH_DB_USER,
            MasterUserPassword=DWH_DB_PASSWORD,

            #Roles (for s3 access)
            IamRoles=[roleArn]  
        )
        
        myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
        prettyRedshiftProps(myClusterProps)
    
    except Exception as e:
        print(e)

In [37]:
create_redshift_cluster()

name 'prettyRedshiftProps' is not defined

In [ ]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

In [ ]:
redshift = boto3.client('redshift',
                       region_name=DWH_REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

In [44]:
def create_tcp_route():
    
    redshift = boto3.client('redshift',
                       region_name=DWH_REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )
    myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
    
    while myClusterProps["ClusterStatus"] != "Available":
        print("sleeping 60 sec......")
        time.sleep(60)
    
    ec2 = boto3.resource('ec2',
                       region_name=DWH_REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )
    
    try:
        vpc = ec2.Vpc(id=myClusterProps['VpcId'])
        defaultSg = list(vpc.security_groups.all())[0]
        print(defaultSg)
        defaultSg.authorize_ingress(
            GroupName=defaultSg.group_name,
            CidrIp='0.0.0.0/0',
            IpProtocol='TCP',
            FromPort=int(DWH_PORT),
            ToPort=int(DWH_PORT)
        )
    except Exception as e:
        print(e)

In [47]:
create_tcp_route()

sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......
sleeping 60 sec......

KeyboardInterrupt:

In [52]:
ec2 = boto3.resource('ec2',
                       region_name=DWH_REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )
redshift = boto3.client('redshift',
                       region_name=DWH_REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

vpc = ec2.Vpc(id=myClusterProps['VpcId'])
defaultSg = list(vpc.security_groups.all())[0]
print(defaultSg)
        
defaultSg.authorize_ingress(
            GroupName=defaultSg.group_name,
            CidrIp='0.0.0.0/0',
            IpProtocol='TCP',
            FromPort=int(DWH_PORT),
            ToPort=int(DWH_PORT)
        )

ec2.SecurityGroup(id='sg-12d2990e')

{'ResponseMetadata': {'RequestId': 'e3c37591-7517-491e-9d5b-3de73924a0d0',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'e3c37591-7517-491e-9d5b-3de73924a0d0',
   'cache-control': 'no-cache, no-store',
   'strict-transport-security': 'max-age=31536000; includeSubDomains',
   'content-type': 'text/xml;charset=UTF-8',
   'content-length': '714',
   'date': 'Fri, 20 Aug 2021 14:23:35 GMT',
   'server': 'AmazonEC2'},
  'RetryAttempts': 0}}

In [8]:
def update_arn(ARN):
        
    config = configparser.ConfigParser()
    config.read('song_dwh.cfg')
    
    config.set("ARN","ARN", ARN)
    
    with open("song_dwh.cfg", "w") as con:
        config.write(con)
    
update_arn("arn:aws:iam::095184657221:role/dwhuser")

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:

#conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
conn_string="postgresql://{}:{}@{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh

'Connected: dwhuser@songdwh'

In [26]:
%%sql
DROP TABLE IF EXISTS staging_songs;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [80]:
%%sql
DROP TABLE IF EXISTS staging_events;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [81]:
%%sql

CREATE TABLE IF NOT EXISTS staging_events (
        artist varchar(200),
        auth varchar(50),
        firstName varchar(100),
        gender varchar(1),
        itemInSession int,
        lastName varchar(100), 
        length decimal(10,5),
        level varchar(5), 
        location varchar(255),
        method varchar(5),
        page varchar(25), 
        registration varchar(100),
        sessionId int,
        song varchar(200),
        status varchar(5),
        ts bigint,
        userAgent varchar(255),
        userId varchar(255)
    );

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [27]:
%%sql
CREATE TABLE IF NOT EXISTS staging_songs (
        song_id varchar(100),
        num_songs int,
        title varchar(200),
        artist_name varchar(200),
        artist_latitude decimal(8,6),
        year int,
        duration decimal(9,4),
        artist_id varchar(200),
        artist_longitude decimal(9,6),
        artist_location varchar(255)
    );

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [20]:
staging_events_copy = (""" 
    COPY staging_events 
    FROM {}
    IAM_ROLE '{}'
    REGION '{}'
""").format(LOG_DATA, ARN, DWH_REGION)
print(staging_events_copy)

staging_songs_copy = ("""
    COPY staging_songs
    FROM {}
    IAM_ROLE '{}'
    REGION '{}'
""").format(SONG_DATA, ARN, DWH_REGION)
print(staging_songs_copy)

    COPY staging_events
    FROM ''s3://udacity-dend/log_data''
    IAM_ROLE 'arn:aws:iam::095184657221:role/dwhuser'
    REGION 'us-west-2'


    COPY staging_songs
    FROM ''s3://udacity-dend/song_data''
    IAM_ROLE 'arn:aws:iam::095184657221:role/dwhuser'
    REGION 'us-west-2'

In [82]:
%%sql
COPY staging_events 
    FROM 's3://udacity-dend/log_data'
    IAM_ROLE 'arn:aws:iam::095184657221:role/dwhuser'
    FORMAT AS JSON 's3://udacity-dend/log_json_path.json'
    REGION 'us-west-2'
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [160]:
%%sql
SELECT * FROM staging_events
where song is not null or artist is not null
LIMIT 5;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
5 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', Decimal('288.99220'), 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', '1541033612796', 184, 'Am I High (Feat. Malice)', '200', 1541121934796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '101'),
 ('Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', Decimal('216.42403'), 'free', 'Lubbock, TX', 'PUT', 'NextSong', '1540708070796', 82, 'A Lack Of Color (Album Version)', '200', 1541122241796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '83'),
 ('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', Decimal('221.33506'), 'free', 'Lubbock, TX', 'PUT', 'NextSong', '1540708070796', 82, 'I Have A Wish', '200', 1541122457796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '83'),
 ('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', Decimal('178.02404'), 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', '1540006905796', 153, 'Monster (Album Version)', '200', 1541126568796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '66'),
 ('Dance Gavin Dance', 'Logged In', 'Marina', 'F', 0, 'Sutton', Decimal('218.46159'), 'free', 'Salinas, CA', 'PUT', 'NextSong', '1541064343796', 47, 'Uneasy Hearts Weigh The Most', '200', 1541127957796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '48')]

In [28]:
%%sql
COPY staging_songs
    FROM 's3://udacity-dend/song_data'
    IAM_ROLE 'arn:aws:iam::095184657221:role/dwhuser'
    FORMAT AS JSON 'auto'
    REGION 'us-west-2'
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [129]:
%%sql

SELECT * FROM staging_songs where artist_id = 'ARAO91X1187B98CCA4'
LIMIT 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
8 rows affected.

[('SOWSPYT12AAF3B44BF', 1, 'Sing For You (Album Version)', 'Tracy Chapman', Decimal('41.504710'), 0, Decimal('265.3775'), 'ARAO91X1187B98CCA4', Decimal('-81.690740'), 'Cleveland, Ohio'),
 ('SOBYAKJ12AB017C6E2', 1, 'Broken (LP Version)', 'Tracy Chapman', Decimal('41.504710'), 2002, Decimal('259.9179'), 'ARAO91X1187B98CCA4', Decimal('-81.690740'), 'Cleveland, Ohio'),
 ('SOJCRUY12A67ADA4C2', 1, 'Fast Car (LP Version)', 'Tracy Chapman', Decimal('41.504710'), 1988, Decimal('296.0713'), 'ARAO91X1187B98CCA4', Decimal('-81.690740'), 'Cleveland, Ohio'),
 ('SOSWBJQ12A58A7A3E6', 1, 'Another Sun (LP Version)', 'Tracy Chapman', Decimal('41.504710'), 2002, Decimal('190.8501'), 'ARAO91X1187B98CCA4', Decimal('-81.690740'), 'Cleveland, Ohio'),
 ('SOUNWTZ12AB01836F2', 1, 'A Hundred Years (LP Version)', 'Tracy Chapman', Decimal('41.504710'), 1989, Decimal('263.3922'), 'ARAO91X1187B98CCA4', Decimal('-81.690740'), 'Cleveland, Ohio'),
 ('SONETWU12AB017C285', 1, 'If These Are The Things (LP Version)', 'Tracy Chapman', Decimal('41.504710'), 1992, Decimal('283.3758'), 'ARAO91X1187B98CCA4', Decimal('-81.690740'), 'Cleveland, Ohio'),
 ('SOENKON12AB0181207', 1, 'Something To See (Album Version)', 'Tracy Chapman', Decimal('41.504710'), 2008, Decimal('252.5775'), 'ARAO91X1187B98CCA4', Decimal('-81.690740'), 'Cleveland, Ohio'),
 ('SOJSYXR12AB017C2AD', 1, 'At This Point In My Life (LP Version)', 'Tracy Chapman', Decimal('41.504710'), 1995, Decimal('308.6623'), 'ARAO91X1187B98CCA4', Decimal('-81.690740'), 'Cleveland, Ohio')]

In [145]:
%%sql

SELECT COUNT(CONCAT(title, artist_name)), count(song_id) FROM staging_songs
LIMIT 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(14896, 14896)]

In [127]:
%%sql
SELECT count(artist_id), count(distinct artist_id) FROM staging_songs;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(14896, 9553)]

In [25]:
%%sql
select * from stl_load_errors
WHERE starttime = (select max(starttime) from stl_load_errors);

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
2 rows affected.

[(100, 1, 101606, datetime.datetime(2021, 8, 22, 18, 14, 6, 53405), 20795, 318, 's3://udacity-dend/song_data/A/Z/C/TRAZCCG128E0798789.json                                                                                                                                                                                                       ', 1, 'artist_name                                                                                                                    ', 'varchar   ', '100       ', 0, '{"artist_id":"ARQ846I1187B9A7083","artist_latitude":null,"artist_location":"","artist_longitude":null,"artist_name":"Yvonne S. Moriarty \\\\/ Walt Fo ... (748 characters truncated) ...                                                                                                                                                      ', '                                                                                                                                                      ... (726 characters truncated) ...                                                                                                                                                      ', 1204, 'String length exceeds DDL length                                                                    ', 0, 0),
 (100, 3, 101606, datetime.datetime(2021, 8, 22, 18, 14, 6, 53405), 20795, 318, 's3://udacity-dend/song_data/A/L/T/TRALTXO128F930843C.json                                                                                                                                                                                                       ', 1, 'artist_name                                                                                                                    ', 'varchar   ', '100       ', 0, '{"artist_id":"ARV481W1187FB38CD9","artist_latitude":null,"artist_location":"Lajatico, Italy","artist_longitude":null,"artist_name":"Andrea Bocelli \\ ... (734 characters truncated) ...                                                                                                                                                      ', '                                                                                                                                                      ... (726 characters truncated) ...                                                                                                                                                      ', 1204, 'String length exceeds DDL length                                                                    ', 0, 0)]

In [150]:
%%sql
DROP TABLE IF EXISTS dim_user CASCADE;
DROP TABLE IF EXISTS dim_time CASCADE;
DROP TABLE IF EXISTS dim_artist CASCADE;
DROP TABLE IF EXISTS dim_song CASCADE;
DROP TABLE IF EXISTS fact_songPlay CASCADE;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.
Done.
Done.
Done.
Done.

[]

In [152]:
%%sql
CREATE TABLE IF NOT EXISTS dim_user (
        user_id int NOT NULL PRIMARY KEY, 
        first_name varchar(100), 
        last_name varchar(100), 
        gender varchar(1), 
        level varchar(5)
    );

CREATE TABLE IF NOT EXISTS dim_song (
        song_id varchar(100) NOT NULL PRIMARY KEY, 
        title varchar(200), 
        artist_id varchar(200), 
        year int, 
        duration decimal(9,4)
    );

CREATE TABLE IF NOT EXISTS dim_artist (
        artist_id varchar(200) NOT NULL PRIMARY KEY, 
        name varchar(200), 
        location varchar(255), 
        latitude decimal(8,6),
        longitude decimal(9,6)
    );

CREATE TABLE IF NOT EXISTS dim_time (
        start_time timestamp PRIMARY KEY, 
        hour int NOT NULL, 
        day int NOT NULL, 
        week int NOT NULL, 
        month int NOT NULL, 
        year int NOT NULL, 
        weekday int NOT NULL
    );

CREATE TABLE IF NOT EXISTS fact_songPlay (
        songplay_id int IDENTITY(0,1) PRIMARY KEY,
        start_time timestamp REFERENCES dim_time (start_time),
        user_id int REFERENCES dim_user (user_id),
        level varchar(5),
        song_id varchar(100) REFERENCES dim_song (song_id),
        artist_id varchar(200) REFERENCES dim_artist (artist_id),
        session_id int,
        location varchar(255),
        user_agent varchar(255)
    );

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.
Done.
Done.
Done.
Done.

[]

In [110]:
%%sql
INSERT INTO dim_time (
    start_time, 
    hour, 
    day, 
    week,
    month,
    year,
    weekday
    )
    SELECT DISTINCT
        date_add('ms',ts,'1970-01-01') as start_time,
        EXTRACT('hour' from start_time) AS hour,
        EXTRACT('day' from start_time) AS day,
        EXTRACT('week' from start_time) AS  week,
        EXTRACT('month' from  start_time) AS month,
        EXTRACT('year' from start_time) AS year,
        EXTRACT('DOW' from start_time) AS weekday
    FROM staging_events
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
8023 rows affected.

[]

In [119]:
%%sql
SELECT count(start_time), count(distinct start_time) from dim_time limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(8023, 8023)]

In [132]:
%%sql
INSERT INTO dim_artist (
    artist_id, 
    name, 
    location, 
    latitude, 
    longitude
    )
    SELECT DISTINCT
        ss.artist_id,
        ss.artist_name as name,
        ss.artist_location as location,
        ss.artist_latitude as latitude,
        ss.artist_longitude as longitude
    FROM (
        SELECT
        artist_id,
        artist_name,
        artist_location,
        artist_latitude,
        artist_longitude,
        ROW_NUMBER() OVER(PARTITION BY artist_id ORDER BY duration DESC) as track_order
        FROM staging_songs
    ) ss
    WHERE ss.track_order = 1
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
9553 rows affected.

[]

In [122]:
%%sql
select count(artist_id), count(distinct artist_id) from dim_artist limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(10025, 9553)]

In [130]:
%%sql
DELETE FROM dim_artist;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
10025 rows affected.

[]

In [134]:
%%sql
INSERT INTO dim_song (
    song_id, 
    title, 
    artist_id, 
    year, 
    duration
    )
    SELECT DISTINCT
        song_id, 
        title, 
        artist_id, 
        year, 
        duration
    FROM staging_songs
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
14896 rows affected.

[]

In [135]:
%%sql
select count(distinct song_id), count(song_id) from dim_song limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(14896, 14896)]

In [115]:
%%sql
INSERT INTO dim_user (
    user_id, 
    first_name, 
    last_name, 
    gender, 
    level
    )
    SELECT DISTINCT
        CAST(sq.userId as int) as user_id, 
        sq.firstName as first_name, 
        sq.lastName as last_name, 
        sq.gender, 
        sq.level
    FROM 
    (
        SELECT 
        userId,
        firstName,
        lastName,
        gender,
        level,
        row_number() OVER(PARTITION BY userId ORDER BY ts DESC) AS recent_user_id
        FROM staging_events
    ) sq
    WHERE userId <> ' '
    AND sq.recent_user_id = 1
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
97 rows affected.

[]

In [116]:
%%sql
SELECT Count(user_id), user_id FROM dim_user group by user_id having count(user_id) > 1;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
0 rows affected.

[]

In [118]:
%%sql
SELECT count(user_id), count(distinct user_id) from dim_user limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(97, 97)]

In [153]:
%%sql
INSERT INTO fact_songPlay (
    start_time, 
    user_id, 
    level, 
    song_id, 
    artist_id, 
    session_id, 
    location, 
    user_agent
    )
    SELECT
        date_add('ms',se.ts,'1970-01-01') as start_time,
        CAST(se.userId as int) as user_id,
        se.level,
        ss.song_id as song_id,
        ss.artist_id as artist_id,
        se.sessionId as session_id,
        se.location,
        se.useragent as user_agent
    FROM staging_events se
    JOIN staging_songs ss
    ON se.artist = ss.artist_name
    AND se.song = ss.title
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
333 rows affected.

[]

In [155]:
%%sql
SELECT
        date_add('ms',se.ts,'1970-01-01') as start_time,
        CAST(se.userId as int) as user_id,
        se.level,
        ss.song_id as song_id,
        ss.artist_id as artist_id,
        se.sessionId as session_id,
        se.location,
        se.useragent as user_agent
    FROM staging_events se
    LEFT JOIN staging_songs ss
    ON se.artist = ss.artist_name
    AND se.song = ss.title
    limit 10
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
10 rows affected.

[(datetime.datetime(2018, 11, 2, 1, 25, 34, 796000), 101, 'free', None, None, 184, 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 1, 29, 36, 796000), 83, 'free', None, None, 82, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 1, 30, 41, 796000), 83, 'free', None, None, 82, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 1, 34, 17, 796000), 83, 'free', None, None, 82, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 2, 42, 48, 796000), 66, 'free', None, None, 153, 'Harrisburg-Carlisle, PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 3, 5, 57, 796000), 48, 'free', None, None, 47, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 3, 32, 41, 796000), 86, 'free', None, None, 170, 'La Crosse-Onalaska, WI-MN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 3, 34, 34, 796000), 86, 'free', None, None, 170, 'La Crosse-Onalaska, WI-MN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 5, 15, 41, 796000), 17, 'free', None, None, 118, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (datetime.datetime(2018, 11, 2, 5, 52, 29, 796000), 66, 'free', None, None, 187, 'Harrisburg-Carlisle, PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [156]:
%%sql
SELECT song, artist FROM staging_events limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
10 rows affected.

[('Am I High (Feat. Malice)', 'N.E.R.D. FEATURING MALICE'),
 (None, None),
 ('A Lack Of Color (Album Version)', 'Death Cab for Cutie'),
 ('I Have A Wish', 'Tracy Gang Pussy'),
 ('Monster (Album Version)', 'Skillet'),
 ('Uneasy Hearts Weigh The Most', 'Dance Gavin Dance'),
 (None, None),
 ('Falta Te Dizer', 'Dalto'),
 ('Family Business', 'Kanye West'),
 ('Lucky (Album Version)', 'Jason Mraz & Colbie Caillat')]