### Test notebook for connecting to AWS buckets and designing tables/ETL

In [1]:
import configparser
import psycopg2
import pandas as pd
import boto3
import json
import time

### Check datawarehouse config file

In [2]:
!cat song_dwh.cfg

[AWS]
key = AKIARMKLSTNC3GBQLM6A
secret = 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

[DWH]
dwh_region = us-west-2
dwh_cluster_type = multi-node
dwh_num_nodes = 2
dwh_node_type = dc2.large
dwh_iam_role_name = dwhuser
dwh_cluster_identifier = songCluster
dwh_db = songdwh
dwh_db_user = dwhuser
dwh_db_password = Passw0rd
dwh_port = 5439
dwh_endpoint = songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh

[ARN]
arn = arn:aws:iam::095184657221:role/dwhuser

[S3]
log_data = 's3://udacity-dend/log_data'
log_jsonpath = 's3://udacity-dend/log_json_path.json'
song_data = 's3://udacity-dend/song_data'

In [3]:
#Get credentials
config = configparser.ConfigParser()
config.read('song_dwh.cfg')

KEY = config.get('AWS', 'key')
SECRET = config.get('AWS', 'secret')
ARN = config.get("ARN", "arn")

DWH_REGION = config.get("DWH", "dwh_region")
DWH_CLUSTER_TYPE = config.get("DWH", "dwh_cluster_type")
DWH_NUM_NODES = config.get("DWH","dwh_num_nodes")
DWH_NODE_TYPE = config.get("DWH","dwh_node_type")
DWH_IAM_ROLE_NAME = config.get("DWH", "dwh_iam_role_name")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","dwh_cluster_identifier")
DWH_DB = config.get("DWH","dwh_db")
DWH_DB_USER = config.get("DWH","dwh_db_user")
DWH_DB_PASSWORD = config.get("DWH","dwh_db_password")
DWH_PORT = config.get("DWH","dwh_port")
DWH_ENDPOINT = config.get("DWH","dwh_endpoint")

LOG_DATA = config.get('S3','log_data')
SONG_DATA = config.get('S3', 'song_data')

In [4]:
s3 = boto3.resource('s3', aws_access_key_id=KEY,
                          aws_secret_access_key=SECRET,
                          region_name="us-west-2")

In [27]:
#Download sample files
sampleDbBucket =  s3.Bucket("udacity-dend")
for obj in sampleDbBucket.objects.filter(Prefix="log-data/2018/11/2018-11-02-events.json"):
    print(obj)
sampleDbBucket.download_file("log-data/2018/11/2018-11-02-events.json", "2018-11-02-events.json")
#sampleDbBucket.download_file("song-data/A/A/A/TRAAAAK128F9318786.json", "TRAAAAK128F9318786.json")
#sampleDbBucket.download_file("log_json_path.json", "log_json_path.json")

s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-02-events.json')

In [44]:
# Check sample log file
with open("samples/2018-11-02-events.json", "r") as f:    
    data = f.readlines()


d = json.loads(data[0])
print(list(d.keys()))
#print(d)
#df = pd.DataFrame(data[0], cols=list(data[0].keys()))
df = pd.DataFrame(d, columns=list(d.keys()), index=[0])
df.head()
#df.head()

['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName', 'length', 'level', 'location', 'method', 'page', 'registration', 'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId']

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,N.E.R.D. FEATURING MALICE,Logged In,Jayden,M,0,Fox,288.9922,free,"New Orleans-Metairie, LA",PUT,NextSong,1.541034e+12,184,Am I High (Feat. Malice),200,1541121934796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",101

In [45]:
# Check sample song file
with open("samples/TRAAAAK128F9318786.json", "r") as f:    
    data = json.load(f)

cols = list(data.keys())
print(cols)
df = pd.DataFrame(data, columns=cols, index=[0])

df.head()

['song_id', 'num_songs', 'title', 'artist_name', 'artist_latitude', 'year', 'duration', 'artist_id', 'artist_longitude', 'artist_location']

,song_id,num_songs,title,artist_name,artist_latitude,year,duration,artist_id,artist_longitude,artist_location
0,SOBLFFE12AF72AA5BA,1,Scream,Adelitas Way,NaN,2009,213.9424,ARJNIUY12298900C91,NaN,

In [4]:
%load_ext sql

In [5]:

#conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
conn_string="postgresql://{}:{}@{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh

'Connected: dwhuser@songdwh'

In [26]:
%%sql
DROP TABLE IF EXISTS staging_songs;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [80]:
%%sql
DROP TABLE IF EXISTS staging_events;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [6]:
%%sql

CREATE TABLE IF NOT EXISTS staging_events (
        artist varchar(200),
        auth varchar(50),
        firstName varchar(100),
        gender varchar(1),
        itemInSession int,
        lastName varchar(100), 
        length decimal(10,5),
        level varchar(5), 
        location varchar(255),
        method varchar(5),
        page varchar(25), 
        registration varchar(100),
        sessionId int,
        song varchar(200),
        status varchar(5),
        ts bigint,
        userAgent varchar(255),
        userId varchar(255)
    );

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [7]:
%%sql
CREATE TABLE IF NOT EXISTS staging_songs (
        song_id varchar(100),
        num_songs int,
        title varchar(200),
        artist_name varchar(200),
        artist_latitude decimal(8,6),
        year int,
        duration decimal(9,4),
        artist_id varchar(200),
        artist_longitude decimal(9,6),
        artist_location varchar(255)
    );

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [20]:
staging_events_copy = (""" 
    COPY staging_events 
    FROM {}
    IAM_ROLE '{}'
    REGION '{}'
""").format(LOG_DATA, ARN, DWH_REGION)
print(staging_events_copy)

staging_songs_copy = ("""
    COPY staging_songs
    FROM {}
    IAM_ROLE '{}'
    REGION '{}'
""").format(SONG_DATA, ARN, DWH_REGION)
print(staging_songs_copy)

    COPY staging_events
    FROM ''s3://udacity-dend/log_data''
    IAM_ROLE 'arn:aws:iam::095184657221:role/dwhuser'
    REGION 'us-west-2'


    COPY staging_songs
    FROM ''s3://udacity-dend/song_data''
    IAM_ROLE 'arn:aws:iam::095184657221:role/dwhuser'
    REGION 'us-west-2'

In [8]:
%%sql
COPY staging_events 
    FROM 's3://udacity-dend/log_data'
    IAM_ROLE 'arn:aws:iam::095184657221:role/dwhuser'
    FORMAT AS JSON 's3://udacity-dend/log_json_path.json'
    REGION 'us-west-2'
    ;
    
#SELECT COUNT(song), song from staging_events group by song having count(song) > 1 limit 10;

#SELECT COUNT(artist), artist from staging_events group by artist having count(artist) > 1 limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [40]:
%%sql
select * from staging_songs
where title = 'Wild World'
and artist_name = 'Cat Stevens';

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
0 rows affected.

[]

In [23]:
%%sql

SELECT COUNT(CONCAT(song,artist)), song, artist from staging_events group by song,artist having COUNT(CONCAT(song,artist)) > 1 limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
10 rows affected.

[(2, 'A Lack Of Color (Album Version)', 'Death Cab for Cutie'),
 (6, 'Lucky (Album Version)', 'Jason Mraz & Colbie Caillat'),
 (2, 'Journey To The Past  (LP Version)', 'Liz Callaway'),
 (2, 'Everything I Try to Do_ Nothing Seems to Turn Out Right', 'The Decemberists'),
 (17, 'Secrets', 'OneRepublic'),
 (4, 'Wild World', 'Cat Stevens'),
 (2, 'Swing Javanaise', 'Anis'),
 (2, 'Clouds (Of Color Bright Album Version)', 'Velour 100'),
 (3, 'Bottom of a Bottle (Explicit Album Version)', 'Smile Empty Soul'),
 (3, 'Eye Of The Tiger', 'Survivor')]

In [16]:
%%sql
SELECT 
*
FROM staging_events se
LEFT JOIN (
    SELECT
    title,
    song_id
    FROM staging_songs
) ss1
ON ss1.title = song

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(8056, 3148, 5189)]

In [10]:
%%sql
COPY staging_songs
    FROM 's3://udacity-dend/song_data'
    IAM_ROLE 'arn:aws:iam::095184657221:role/dwhuser'
    FORMAT AS JSON 'auto'
    REGION 'us-west-2'
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.

[]

In [37]:
%%sql

SELECT * FROM staging_songs where artist_name = 'Cat Stevens'

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
6 rows affected.

[('SOQRRKS12AB0187374', 1, 'Daytime', 'Cat Stevens', None, 1978, Decimal('239.0199'), 'ARVHQNN1187B9B9FA3', None, 'London, England'),
 ('SOLAYSZ12A6701F5BE', 1, 'Sun / C79', 'Cat Stevens', None, 1974, Decimal('275.8787'), 'ARVHQNN1187B9B9FA3', None, 'London, England'),
 ('SONJNQI12A6310EDEE', 1, 'Morning Has Broken', 'Cat Stevens', None, 1971, Decimal('199.7579'), 'ARVHQNN1187B9B9FA3', None, 'London, England'),
 ('SONCLNU12A6D4F86FB', 1, 'I See A Road', 'Cat Stevens', None, 1966, Decimal('128.6003'), 'ARVHQNN1187B9B9FA3', None, 'London, England'),
 ('SOGWYVC12A6701F5DC', 1, 'Last Love Song', 'Cat Stevens', None, 1978, Decimal('211.7742'), 'ARVHQNN1187B9B9FA3', None, 'London, England'),
 ('SOCOBMY12A58A7A161', 1, 'Mona Bone Jakon', 'Cat Stevens', None, 1970, Decimal('104.2542'), 'ARVHQNN1187B9B9FA3', None, 'London, England')]

In [67]:
%%sql

SELECT COUNT(*) FROM staging_events limit 5;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(8056,)]

In [65]:
%%sql

SELECT COUNT(CONCAT(title, artist_name)), count(song_id) FROM staging_songs
LIMIT 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(14896, 14896)]

In [54]:
%%sql
SELECT artist_name, title, COUNT(title) FROM staging_songs group by artist_name, title having count(title) > 1;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
5 rows affected.

[('Sonic Division', 'Day And Night', 2),
 ('Inspiral Carpets', 'Commercial Reign', 2),
 ('Béla Fleck', 'Moto Perpetuo_ Op. 11_ No. 2', 2),
 ('Thrice', 'The Earth Will Shake', 2),
 ('Fever Ray', 'When I Grow Up', 2)]

In [25]:
%%sql
select * from stl_load_errors
WHERE starttime = (select max(starttime) from stl_load_errors);

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
2 rows affected.

[(100, 1, 101606, datetime.datetime(2021, 8, 22, 18, 14, 6, 53405), 20795, 318, 's3://udacity-dend/song_data/A/Z/C/TRAZCCG128E0798789.json                                                                                                                                                                                                       ', 1, 'artist_name                                                                                                                    ', 'varchar   ', '100       ', 0, '{"artist_id":"ARQ846I1187B9A7083","artist_latitude":null,"artist_location":"","artist_longitude":null,"artist_name":"Yvonne S. Moriarty \\\\/ Walt Fo ... (748 characters truncated) ...                                                                                                                                                      ', '                                                                                                                                                      ... (726 characters truncated) ...                                                                                                                                                      ', 1204, 'String length exceeds DDL length                                                                    ', 0, 0),
 (100, 3, 101606, datetime.datetime(2021, 8, 22, 18, 14, 6, 53405), 20795, 318, 's3://udacity-dend/song_data/A/L/T/TRALTXO128F930843C.json                                                                                                                                                                                                       ', 1, 'artist_name                                                                                                                    ', 'varchar   ', '100       ', 0, '{"artist_id":"ARV481W1187FB38CD9","artist_latitude":null,"artist_location":"Lajatico, Italy","artist_longitude":null,"artist_name":"Andrea Bocelli \\ ... (734 characters truncated) ...                                                                                                                                                      ', '                                                                                                                                                      ... (726 characters truncated) ...                                                                                                                                                      ', 1204, 'String length exceeds DDL length                                                                    ', 0, 0)]

In [38]:
%%sql
DROP TABLE IF EXISTS dim_user CASCADE;
DROP TABLE IF EXISTS dim_time CASCADE;
DROP TABLE IF EXISTS dim_artist CASCADE;
DROP TABLE IF EXISTS dim_song CASCADE;
DROP TABLE IF EXISTS fact_songPlay CASCADE;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.
Done.
Done.
Done.
Done.

[]

In [39]:
%%sql
CREATE TABLE IF NOT EXISTS dim_user (
        user_id int NOT NULL PRIMARY KEY, 
        first_name varchar(100), 
        last_name varchar(100), 
        gender varchar(1), 
        level varchar(5)
    );

CREATE TABLE IF NOT EXISTS dim_song (
        song_id varchar(100) NOT NULL PRIMARY KEY, 
        title varchar(200), 
        artist_id varchar(200), 
        year int, 
        duration decimal(9,4)
    );

CREATE TABLE IF NOT EXISTS dim_artist (
        artist_id varchar(200) NOT NULL PRIMARY KEY, 
        name varchar(200), 
        location varchar(255), 
        latitude decimal(8,6),
        longitude decimal(9,6)
    );

CREATE TABLE IF NOT EXISTS dim_time (
        start_time timestamp PRIMARY KEY, 
        hour int NOT NULL, 
        day int NOT NULL, 
        week int NOT NULL, 
        month int NOT NULL, 
        year int NOT NULL, 
        weekday int NOT NULL
    );

CREATE TABLE IF NOT EXISTS fact_songPlay (
        songplay_id int IDENTITY(0,1) PRIMARY KEY,
        start_time timestamp REFERENCES dim_time (start_time),
        user_id int REFERENCES dim_user (user_id),
        level varchar(5),
        song_id varchar(100) REFERENCES dim_song (song_id),
        artist_id varchar(200) REFERENCES dim_artist (artist_id),
        session_id int,
        location varchar(255),
        user_agent varchar(255)
    );

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
Done.
Done.
Done.
Done.
Done.

[]

In [40]:
%%sql
INSERT INTO dim_time (
    start_time, 
    hour, 
    day, 
    week,
    month,
    year,
    weekday
    )
    SELECT DISTINCT
        date_add('ms',ts,'1970-01-01') as start_time,
        EXTRACT('hour' from start_time) AS hour,
        EXTRACT('day' from start_time) AS day,
        EXTRACT('week' from start_time) AS  week,
        EXTRACT('month' from  start_time) AS month,
        EXTRACT('year' from start_time) AS year,
        EXTRACT('DOW' from start_time) AS weekday
    FROM staging_events
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
8023 rows affected.

[]

In [64]:
%%sql
SELECT count(start_time), count(distinct start_time) from dim_time limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(0, 0)]

In [41]:
%%sql
INSERT INTO dim_artist (
    artist_id, 
    name, 
    location, 
    latitude, 
    longitude
    )
    SELECT DISTINCT
        ss.artist_id,
        ss.artist_name as name,
        ss.artist_location as location,
        ss.artist_latitude as latitude,
        ss.artist_longitude as longitude
    FROM (
        SELECT
        artist_id,
        artist_name,
        artist_location,
        artist_latitude,
        artist_longitude,
        ROW_NUMBER() OVER(PARTITION BY artist_id ORDER BY duration DESC) as track_order
        FROM staging_songs
    ) ss
    WHERE ss.track_order = 1
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
9553 rows affected.

[]

In [63]:
%%sql
select count(artist_id), count(distinct artist_id) from dim_artist limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(0, 0)]

In [42]:
%%sql
INSERT INTO dim_song (
    song_id, 
    title, 
    artist_id, 
    year, 
    duration
    )
    SELECT DISTINCT
        song_id, 
        title, 
        artist_id, 
        year, 
        duration
    FROM staging_songs
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
14896 rows affected.

[]

In [62]:
%%sql
select count(distinct song_id), count(song_id) from dim_song limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(0, 0)]

In [68]:
%%sql
INSERT INTO dim_user (
    user_id, 
    first_name, 
    last_name, 
    gender, 
    level
    )
    SELECT DISTINCT
        CAST(sq.userId as int) as user_id, 
        sq.firstName as first_name, 
        sq.lastName as last_name, 
        sq.gender, 
        sq.level
    FROM 
    (
        SELECT 
        userId,
        firstName,
        lastName,
        gender,
        level,
        row_number() OVER(PARTITION BY userId ORDER BY ts DESC) AS recent_user_id
        FROM staging_events
    ) sq
    WHERE userId <> ' '
    AND sq.recent_user_id = 1
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh

DataError: (psycopg2.DataError) invalid input syntax for integer: " "
 [SQL: "INSERT INTO dim_user (\n    user_id, \n    first_name, \n    last_name, \n    gender, \n    level\n    )\n    SELECT DISTINCT\n        CAST(sq.userId as int) as user_id, \n        sq.firstName as first_name, \n        sq.lastName as last_name, \n        sq.gender, \n        sq.level\n    FROM \n    (\n        SELECT \n        userId,\n        firstName,\n        lastName,\n        gender,\n        level,\n        row_number() OVER(PARTITION BY userId ORDER BY ts DESC) AS recent_user_id\n        FROM staging_events\n    ) sq\n    WHERE userId <> ' '\n    AND sq.recent_user_id = 1\n    ;"]

In [116]:
%%sql
SELECT Count(user_id), user_id FROM dim_user group by user_id having count(user_id) > 1;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
0 rows affected.

[]

In [61]:
%%sql
SELECT count(user_id), count(distinct user_id) from dim_user limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(0, 0)]

In [46]:
%%sql
INSERT INTO fact_songPlay (
    start_time, 
    user_id, 
    level, 
    song_id, 
    artist_id, 
    session_id, 
    location, 
    user_agent
    )
    SELECT
        date_add('ms',se.ts,'1970-01-01') as start_time,
        CAST(se.userId as int) as user_id,
        se.level,
        ss.song_id as song_id,
        ss.artist_id as artist_id,
        se.sessionId as session_id,
        se.location,
        se.useragent as user_agent
    FROM staging_events se
    LEFT JOIN (
        SELECT DISTINCT
            song_id,
            title,
            artist_id,
            artist_name
        FROM staging_songs
    ) ss
    ON se.song = ss.title
    AND se.artist = ss.artist_name
    WHERE userId <> ' '
    ;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
7770 rows affected.

[]

In [14]:
%%sql
SELECT count(songplay_id), count(distinct songplay_id) from fact_songPlay;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(7770, 7770)]

In [60]:
%%sql
select count(*) from staging_events;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(8056,)]

In [13]:
%%sql
SELECT count(*), 
count(songplay_id), 
count(distinct songplay_id), 
count(distinct song_id), 
count(distinct artist_id) 
from fact_songPlay limit 10;

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
1 rows affected.

[(7770, 7770, 7770, 217, 200)]

In [ ]:
%%sql

In [69]:
%%sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';

 * postgresql://dwhuser:***@songcluster.cy513anz522l.us-west-2.redshift.amazonaws.com:5439/songdwh
7 rows affected.

[('public', 'staging_events', 'dwhuser', None, False, False, False),
 ('public', 'staging_songs', 'dwhuser', None, False, False, False),
 ('public', 'dim_time', 'dwhuser', None, True, False, True),
 ('public', 'dim_user', 'dwhuser', None, True, False, True),
 ('public', 'dim_song', 'dwhuser', None, True, False, True),
 ('public', 'fact_songplay', 'dwhuser', None, True, False, True),
 ('public', 'dim_artist', 'dwhuser', None, True, False, True)]